[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
[submodule "thirdparty/curl"]
	path = thirdparty/curl
	url = https://github.com/curl/curl.git
[submodule "thirdparty/mbedtls"]
	path = thirdparty/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "thirdparty/openssl"]
	path = thirdparty/openssl
	url = https://github.com/openssl/openssl.git
[submodule "thirdparty/zlib"]
	path = thirdparty/zlib
	url = https://github.com/madler/zlib.git
[submodule "thirdparty/nghttp2"]
	path = thirdparty/nghttp2
	url = https://github.com/nghttp2/nghttp2.git
[submodule "thirdparty/ngtcp2"]
	path = thirdparty/ngtcp2
	url = https://github.com/ngtcp2/ngtcp2.git
[submodule "thirdparty/nghttp3"]
	path = thirdparty/nghttp3
	url = https://github.com/ngtcp2/nghttp3.git
